# Environment variables go here, can be read by `python-dotenv` package:
#
#   ----------------------------------------------------------------
#    from dotenv import load_dotenv
#    
#    load_dotenv()
#    API_KEY = os.getenv("API_KEY")
#   ----------------------------------------------------------------
#
# DO NOT ADD THIS FILE TO VERSION CONTROL!


# API_KEY=your-api-key

FOOTBALL_API_BASE_URL=https://api.football-data.org/v4
FOOTBALL_API_KEY=9490b51b1a12433194f25a2650e3b0e6